.heroSection {
    /* border: 2px solid rgb(126, 0, 0); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 700px;
    min-height: 500px;
    width: 100vw;
    gap: 75px;
    flex-wrap: wrap;
    padding: 100px 50px;
}

/* .split {
    border: 1px solid rebeccapurple;
} */

.heroSection h1 {
    /* border: 1px solid blue; */
    font-size: 64px;
    margin-bottom: 20px;
}

.heroSection h3 {
    /* border: 1px solid blue; */
    font-size: 36px;
    margin-bottom: 30px;
}
.fade {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.heroSection .buttons {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}