.navBar {
    background: #f3f3f37f;
    margin-top: 20px;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 100px 10px #000;
}
.navBar button {
    background: none;
    display: none;
    outline: none;
    border: none;
    font-size: 16px;
}
.navBar button:hover {
    background: none;
    cursor: pointer;
}
.navBar .links {
    /* border: 0.5px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navBar a {
    /* border: 0.5px solid red; */
    text-decoration: none;
    padding: 5px 20px;
    color: #19015b;
    position: relative;
}
.navBar a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0%;
    height: 2px;
    background-color: #19015b;
    transition: width 0.3s ease-out;
}
.navBar a:hover::before {
    width: 80%;
}
.navBar .toggleMenu {
    color: #19015b;
}
