.modal {
    background-color: #f5f5f5;
    color: #19015b;
    position: fixed;
    border-radius: 6px;
    padding: 1.5rem;
    z-index: 10;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    border: none;
    margin: auto;
    overflow-y: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}